<%= form_for @invoice, :html => { :class => "form-horizontal invoice" } do |f| %>

    <% if @invoice.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @invoice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


    <div class="control-group">
      <%= f.label :appointment_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :appointment_id, Appointment.all, :id, :app_info %>
      </div>
      <%= error_span(@invoice[:appointment_id]) %>
    </div>

  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice[:amount]) %>
  </div>

    <div class="control-group">
      <%= f.label :invoice_status_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :invoice_status_id, InvoiceStatus.all, :id, :status_name %>
      </div>
      <%= error_span(@invoice[:invoice_status_id]) %>
    </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            invoices_path, :class => 'btn btn-default' %>

<% end %>
