<%= form_for @diag_code, :html => { :class => "form-horizontal diag_code" } do |f| %>

    <% if @diag_code.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@diag_code.errors.count, "error") %> prohibited this diag_code from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @diag_code.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :diag_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :diag_code, :class => 'form-control' %>
    </div>
    <%= error_span(@diag_code[:diag_code]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@diag_code[:description]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            diag_codes_path, :class => 'btn btn-default' %>

<% end %>
