<%= form_for @invoice_status, :html => { :class => "form-horizontal invoice_status" } do |f| %>

    <% if @invoice_status.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@invoice_status.errors.count, "error") %> prohibited this invoice_status from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @invoice_status.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :status_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status_name, :class => 'form-control' %>
    </div>
    <%= error_span(@invoice_status[:status_name]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            invoice_statuses_path, :class => 'btn btn-default' %>

<% end %>
