<%- model_class = Patient -%>
<div class="page-header">
  <h1>Appointment Booking</h1>
  <h3>Select a Patient</h3>
</div>

<div>
<%= collection_select(nil, :patient_id, @patients, :id, :full_name) %>
</div>
<div>
<%= collection_select(nil, :physician_id, @physicians, :id, :full_name) %>
</div>


  <div class="control-group">
    <%= label_tag :datetime, 'DateTime' %>
    <div class="input-group date" id="datetimepicker">
      <%= text_field_tag :datetime, nil, class: 'form-control', data: { date_format: 'YYYY/MM/DD' } %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
   </div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Patient</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.full_name %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_patient_path(patient), :class => 'btn btn-default btn-xs' %>


          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
