<%= form_for @appointment, :html => { :class => "form-horizontal appointment" } do |f| %>

    <% if @appointment.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :patient_id, :class => 'control-label' %>

    <div class="controls">
      <%= f.collection_select :patient_id, Patient.all, :id, :full_name %>
    </div>
    <%= error_span(@appointment[:patient_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :physician_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :physician_id, Physician.all, :id, :full_name %>
    </div>
    <%= error_span(@appointment[:physician_id]) %>
  </div>

    <div class="control-group">
      <%= f.label :app_date, :class => 'control-label'  %>
      <div class="input-group date" id="datetimepicker">
        <%= f.text_field :app_date, class: 'form-control'%>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>

  <div class="control-group">
    <%= f.label "Reason for Appointment", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :reason, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:reason]) %>
  </div>

  <div class="control-group">
    <%= f.label "Doctor's Notes", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :dr_notes, :class => 'form-control' %>
    </div>
    <%= error_span(@appointment[:dr_notes]) %>
  </div>

  <div class="control-group">
    <%= f.label :app_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :app_status_id, AppStatus.all, :id, :status %>
    </div>
    <%= error_span(@appointment[:app_status_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :diag_code_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :diag_code_id, DiagCode.all, :id, :diag_code %>
    </div>
    <%= error_span(@appointment[:diag_code_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            appointments_path, :class => 'btn btn-default' %>

<% end %>
</div>