<%- model_class = Appointment -%>
<div class="page-header">
  <h1>Check Appointment</h1>
  <h3>Select a Patient</h3>
</div>



<table class="table table-striped">
  <thead>
  <tr>
    <th>Patient</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.full_name %></td>
        <td>
          <%= link_to 'Select', appointments_app_delete_path(patient_id: patient) %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>