<%- model_class = Appointment -%>
<div class="page-header">
  <h1>Update Doctor's Notes</h1>
  <h3>Select a Physician</h3>
</div>



<table class="table table-striped">
  <thead>
  <tr>
    <th>Doctor</th>
    <th><%= model_class.human_attribute_name(:phone) %></th>
    <th><%= model_class.human_attribute_name(:email) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.full_name %></td>
        <td><%= physician.phone %></td>
        <td><%= physician.email %></td>
        <td>
          <%= link_to 'Select', appointments_doc_notes_list_path(physician_id: physician) %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


