<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <h4>Select the Appointment to Add Notes or Diagnostic Code</h4>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:patient_id) %></th>
    <th><%= model_class.human_attribute_name(:physician_id) %></th>
    <th><%= model_class.human_attribute_name(:app_date) %></th>
    <th><%= model_class.human_attribute_name(:reason) %></th>
    <th><%= model_class.human_attribute_name(:dr_notes) %></th>
    <th><%= model_class.human_attribute_name(:app_status_id) %></th>
    <th><%= model_class.human_attribute_name(:diag_code_id) %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.full_name %></td>
        <td><%= appointment.physician.full_name %></td>
        <td><%= appointment.app_date %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.dr_notes %></td>
        <td><%= appointment.app_status.status %></td>
        <td><%= appointment.diag_code_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_appointment_path(appointment), :class => 'btn btn-default btn-xs' %>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>
