<%- model_class = Appointment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:patient_id) %>:</strong></dt>
  <dd><%= @appointment.patient.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:physician_id) %>:</strong></dt>
  <dd><%= @appointment.physician.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:app_date) %>:</strong></dt>
  <dd><%= @appointment.app_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reason) %>:</strong></dt>
  <dd><%= @appointment.reason %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dr_notes) %>:</strong></dt>
  <dd><%= @appointment.dr_notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:app_status_id) %>:</strong></dt>
  <dd><%= @appointment.app_status.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diag_code_id) %>:</strong></dt>
  <dd><%= @appointment.diag_code_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              appointments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_appointment_path(@appointment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              appointment_path(@appointment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
