<!DOCTYPE html>
<html>
<head>
  <title>ABC Dermatology</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Patients<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Make Appointment', appointments_patient_app_path %></li>
            <li><%= link_to 'Check Appointment', appointments_app_check_path %></li>
            <li><%= link_to 'Register Patient', new_patient_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Invoicing <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Generate Invoice', invoices_path %></li>
            <li><%= link_to 'Physicians', physicians_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Menu<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Physicians', physicians_path %></li>
            <li><%= link_to 'Patients', patients_path %></li>
            <li><%= link_to 'Appointments', appointments_path %></li>
            <li><%= link_to 'Diagnostic Codes', diag_codes_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Reports', homepage_future_feature_path %></li>
          </ul>
        </li>

        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Doctor Menu<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to 'Appointment Update', appointments_doc_notes_path %></li>
        </ul>
        </li>

        <li><%= link_to 'Help', "/resources/patient_help.docx"%></li>


      </ul>

    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
